<div
  class="playlist-lesson-card"
  data-title="{{ .Title }}"
  data-genre="{{ range .Params.categories }}{{ . }} {{ end }}{{ range .Params.tags }}{{ . }} {{ end }}"
>
  <a href="{{ .Permalink }}">
    <img src="{{ .Params.image }}" alt="{{ .Title }}" />
    <p class="playlist-lesson-title">{{ .Title }}</p>
  </a>
</div>

<style>
  .playlist-lesson-card {
    background-color: var(--card-bg);
    border-radius: var(--border-radius-md);
    overflow: hidden;
    box-shadow: var(--card-shadow);
    transition: transform 0.2s, box-shadow 0.2s;
    cursor: pointer;
     text-align: center;
  }

  .playlist-lesson-card a {
    text-decoration: none;
    color: inherit;
  }

  .playlist-lesson-card:hover {
    transform: translateY(-2px);
    box-shadow: var(--card-hover-shadow);
  }

  .playlist-lesson-card img {
    width: 100%;
    /* height: 100%; */
    height: auto;
    height: 120px;
    aspect-ratio: 16/9;
    object-fit: cover;
    display: block;
    border-bottom: 1px solid var(--border-color);
  }

  .playlist-lesson-title {
    padding: 12px;
    font-size: 16px;
    font-weight: 500;
    color: #181818;
    font-size: 0.9em;
    font-weight: bold;
  }

  @media (max-width: 768px) {
    .playlist-lesson-card:hover {
      transform: translateY(0px);
      box-shadow: var(--card-hover-shadow);
    }
  }


  @media (max-width: 448px) {
  .playlist-lesson-card a {
    display: flex;
    align-items: center;
    gap: 10px; /* space between image and text */
  }

  .playlist-lesson-card img {
    width: 40%;      /* make image smaller */
    height: auto;    /* maintain aspect ratio */
    aspect-ratio: auto; /* allow natural scaling */
    border-bottom: none; /* remove bottom border */
    border-right: 1px solid var(--border-color);
  }

  .playlist-lesson-title {
    padding: 8px;
    font-size: 0.9em;
    flex: 1;   /* text takes remaining space */
    text-align: left; /* align text to the left */
  }
}

</style>
