{{ define "main" }}

<div class="playlist-info">
  <img src="{{.Params.image}}" alt="{{.Title}}" class="playlist-banner" />
  <h1 class="playlist-title">{{ .Title }} Playlist</h1>
  {{/*  <p class="playlist-description">
    {{ .Params.summary | default .Description | default .Summary }}
  </p>
  <p class="playlist-description">
  {{ .Description | plainify | truncate 120 }}
</p>  */}}
</div>

<div id="all-games-container">
  <section class="game-category-section">
    <h2 class="category-title">All Lessons</h2>
    <div class="game-grid" id="all-games-grid">
      {{/* {{ len (where .Site.RegularPages "Type" "games") }} */}} {{/* {{
      range where .Site.RegularPages "Type" "playlists" }} */}} {{ range .Pages
      }} {{ partial "playlist_card.html" . }} {{ end }} {{/* {{ range where
      .Site.RegularPages "Section" "games" }} {{ partial "game_card.html" . }}
      {{ end }} */}}
    </div>
  </section>
</div>

<style>
  .playlist-info {
    /*  margin: 2rem auto;
/*  padding: 1.5rem;
  border-radius: 12px;
/*  background: linear-gradient(145deg, #1e1e2f, #2b2d42); */
    /* color: #fff; */
    text-align: center;
    /*   box-shadow: 0 8px 20px rgba(0, 0, 0, 0.4); */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  .playlist-info:hover {
    /*  transform: translateY(-6px); */
    /*  box-shadow: 0 12px 28px rgba(0, 0, 0, 0.6); */
  }

  .playlist-banner {
    width: 100%;
    max-height: 120px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 1rem;
    transition: opacity 0.3s ease;
    max-width: 50%;
  }

  .playlist-banner:hover {
    opacity: 0.9;
  }

  .playlist-title {
    font-size: 1.8rem;
    font-weight: 700;
    margin: 0.5rem 0;
    letter-spacing: 1px;
    background: linear-gradient(90deg, #ff6f61, #fddb3a);
    color: #222;
    background: linear-gradient(90deg, #ff6b6b, #ffbb33);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .playlist-description {
    font-size: 1rem;
    line-height: 1.6;
    color: #dcdcdc;
    color: #555;
    margin-top: 0.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Limit text to 2 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  @media (max-width: 768px) {
    .playlist-info {
      padding: 1rem;
    }

    .playlist-banner {
      max-height: 100px;
      max-width: -webkit-fill-available;
    }

    .playlist-title {
      font-size: 1.5rem;
    }

    .playlist-description {
      font-size: 0.9rem;
    }
  }
</style>

{{ end }}
